::-webkit-scrollbar {
  width: 10px;
  
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 10px 10px transparent;
  border: solid 3px transparent;
  
}

::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 10px 10px white;
  border: solid 3px transparent;
}
body {
  font-family: OCR A Std, monospace;
  font-size: 17px;
  margin: 0;
  padding: 0;
  overflow-x: auto;
  width: 100%;
  
}
html {
  overflow-x: auto;
}
.imageDescription {
  display: flex;
}
.tools {
            display: flex;
/*             justify-content: center; */
        }
        .svgText {
            display: flex;
            border: solid 3px black;
            /* height: 80px; */
            border-radius: 40px;
            margin-right: 10px;
        }
        .first {
          margin-left: auto;
          
        }
        .last {
          margin-right: auto;
          
        }
        .text {
            margin-top: auto;
            margin-bottom: auto;
            margin-left: 5px;
            margin-right: 20px;
            /* height: 50px; */
        }
        .title {
          text-align: center;
          margin: 10px;
        }
        .typing-container {
          text-align: center;
          font-size: 25px;
          height: 65px;
          margin-top: 10px;
        }
        /* .logo, .text {
            display: inline-block;
        } */
        .logo {
            width: auto;
            height: 20px;
            margin-top: auto;
            margin-bottom: auto;
            padding: 6px;
        }
        .icon-microchip {
            width: auto;
/*             height: 20px; */
/*             margin-top: auto;
            margin-bottom: auto; */
            padding: 5px;
            font-size: 18px;

        }
@font-face {
    font-family: 'fontello';
    src: url('../fonts/fontello.woff2') format('woff2'),
         url('../fonts/fontello.woff') format('woff'),
         url('../fonts/fontello.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@media (max-device-width: 1200px) and (orientation: landscape) {
   
  .main #displayed-image {
    height: 200px;
    width: auto;
  }
  .main #displayed-image {
    height: 250px;
    width: auto;
  }
  ::-webkit-scrollbar {
  width: 0px;
  
}
  .main .Pol {
    width: 75px;
    
  }
  .main .Eng {
    width: 90px;
    
  }
  .main .description {
    overflow: auto;
    height: auto;
  }
  .main .projectImg {
    width: auto;
    height: 140px;
  }
  .main .tables {
    width: 60%;
  }
  
}
@media (max-device-width: 1200px) and (orientation: portrait) {
  .main .projectImg {
        height: 60px; /* Set a maximum height of 100 viewport height units */
        width: auto;
    }
  .main #displayed-image {
    height: 200px;
    width: auto;
  }
  .main .first {
    margin-left: auto;
    margin-right: auto;
  }
  .last {
    margin-right: auto;
    margin-left: auto;
  }
  .main .mainContent #homeContent {
    width: 120%;
  }
  .main .tools {
   display: inline-flex;
/*     margin-bottom: 5px; */
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    
  }
  .main .svgText {
    margin-bottom: 10px;
  }
  ::-webkit-scrollbar {
  width: 0px;
  
}
  .main .Pol {
    width: 75px;
    
  }
  .main .Eng {
    width: 90px;
    
  }
  .menu #lang {
  position: relative;
  width: 45px;
  padding: 0;
  background-color: rgb(128,128,128);
  height: 54px;
  
}
  .main #textPol {
    text-align: left !important;
    overflow-x: hidden;
/*     font-size: 30px; */
  }
  .menu {
    display: flex;
    justify-content: space-evenly;
  }
  
  .menu .visits {
    font-size: 20px; /* Ensure this value is correctly set */
    white-space: normal;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
  }
  .menu #visits {
    font-size: 20px;
  }
  .menu #aboutMe {
    margin: 0;
    padding: 0;
    border: none;
  }
  .main .longerprojectTitle {
  height: 60px;
  padding: 10px;
  font-weight: bold;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
  .main .longprojectTitle {
  height: 40px;
  padding: 10px;
  font-weight: bold;
  text-align: center;
}
  .menu #visitEng, #visitPol {
    position: absolute;
    font-size: 12px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}
  .menu #visits {
    position: relative;
    height: 54px;
    width: 60px;
    margin-left: auto;
    background-color: rgb(128, 128, 128);
}
  .main #textEng {
  text-align: left !important; 
  overflow-x: hidden;
  
}
  .menu #aboutMe {
    margin: 0;
    padding: 0;
    border: none;
  }
  /* Ensure no gaps or unexpected padding/margins */
  .menu {
    gap: 0;
    padding: 0;
    margin: 0;
  }
}
  /* .main .description {
    overflow: auto;
    height: auto;
  } */
  
  .main .tables {
    font-size: 13px;
    min-width: 100%;
    overflow: auto;
  }
  
/* .projectTitle {
  padding: 10px;
  font-weight: bold;
  font-size: 20px;
  min-height: 20px; /* Optional: Ensures a minimum height, but allows it to grow */
/*   height: auto; /* Let the height be determined by the content */ */
/* } */
/*   .main .engTitle, .polTitle {
    margin-right: 10px;
    text-align: left;
  } */
  .main .border {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .main .Eng {
  position: relative;
  
  min-width: 80px;
  white-space: nowrap;
  min-height: 20px;

}
.main .Pol {
  position: relative;
  
  min-width: 46px;
  white-space: nowrap;
  min-height: 20px;

}
  
}
@media (max-device-width: 1200px) {
  .menu .homeLink .services,
  .about #pageviews-count {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    text-decoration: none;
    color: black;
    height: 60px;
    
  }
  
/*   .projectTitle {
       padding: 10px;
       font-weight: bold;
       font-size: 20px;
       height: auto; /* Allow the height to adjust based on the content */
/*        min-height: 20px; /* Ensure it has a minimum height */ 
   } */
.hidden {
  display: none;
  user-select: text;

}
/*    .projectTitle {
       padding: 10px;
       font-weight: bold;
       font-size: 20px;
       height: auto; /* Allow the height to adjust based on the content */
/*        min-height: 20px; /* Ensure it has a minimum height */ 
   } */
  .menu .dropdown .dropdown-content {
    max-height: 1000px;
    overflow: hidden;
    transition: max-height 0.7s;
    z-index: 10;
  }
  .menu #visits {
    position: relative;
    height: 54px;
    width: 70px;
    margin-left: auto;
    background-color: rgb(128, 128, 128);
}
  .menu .dropdown .hidden {
    max-height: 0;
    overflow: hidden;
  }
  .menu .homeLink .services,
  .visits #pageviews-count {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    text-decoration: none;
    color: black;
    height: 60px;
    
  }
  
.hidden {
  display: none;
}
  .menu .dropdown .dropdown-content.services {
    max-height: 1000px;
    overflow: hidden;
    transition: max-height 0.7s;
     transition: max-height 0.7s;
    z-index: 10;
  }

  .menu .dropdown .hidden {
    max-height: 0;
    overflow: hidden;
  }
  .main .mainContent #homeContent {
  overflow: auto; /* Enable both vertical and horizontal scrolling if needed */
  height: 97%; /* Take up 100% of the parent's height */
  width: 100%;
  background-color: rgba(176,196,222, 0.8);
  border-radius: 10px;
  font-weight: bold;
  position: relative;
  }
  .content .menu #aboutMe {
    margin-left: 0;
  }
  .menu #pol, #eng {
    width: 45px;
    height: 30px;
    object-fit: contain;
/*     margin-left: 20px; */
  }
/*   .content .menu #lang {
    margin-right: 3px;
    padding: 0;
  } */
  
/*   .menu #pol, #eng {
    margin-right: 10px;
  } */
  .menu .visits {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
    height: 54px;
/*     padding-left: 10px; */
    padding-right: 3px;
}
  
  .menu #visits {
    position: relative;
    height: 54px;
/*     width: 600px; */
    margin-left: auto;
    background-color: rgb(128, 128, 128);
/*     text-align: center; */
}
  .menu #visits::first-word {
    display: block;
}
.menu #visits::last-word {
    display:block
  } 
  .main .border {
  background: transparent;
  height: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  padding: 2px;
  border: solid 3px black;
  display: flex;
  justify-content: center;
  align-items: center;
}
  .main .tech, .linkEng, .gitEng {
    margin-right: 5px;
  }
  
  /* .main .description {
    width: 100%;
  } */
}

@media only screen and (min-device-width: 900px) {
  .menu ul li a:hover {
    background-color: #555;
  }
  .menu div {
  margin: 0;
  padding: 0;
}
  
/*   .main .projectTitle {
    height: 20px;
    padding: 10px;
    font-weight: bold;
    font-size: 20px;
  } */
  
  .menu .dropdown:hover .dropdown-content,
  .dropdown-content:hover {
    max-height: 1000px; /* Adjust this value based on your dropdown's height */
     transition: max-height 0.7s;
    z-index: 10;
  }
/*   .menu .dropdown-content a:hover {
    background-color: #555;
  } */
}
#viewer {
  display: none;
  justify-content: center;
  align-items: center;  
  height: 100%; /* Take up 100% of the parent's height */
  width: 100%;/* Adjust this value based on your needs */
  padding: 20px;
  z-index: 1;
  background: transparent;  
  
}
.view {
  height: auto; /* Take up 100% of the parent's height */
  width: auto;
}
.icon-user {
  font-style: normal;
}

#aboutMe {
  position: relative;
  height: 54px;
  min-width: 90px;
  text-align: center;
  margin-left: 50px;
  margin: 0;
/*   padding-right: 10px; */
}
#aboutMe:hover {
  background-color: #555;
}
#engAbout, #polAbout {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  text-decoration: none;
  color: black;
}
#projects {
  position: relative;
  
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  text-decoration: none;
  color: black;
  width: 100px;
  height: 54px;
}
#projectsEng, #projectsPol {
  /* position: absolute; */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.toggle-element {
  opacity: 0;
  display: hidden;
  
  transition: opacity 0.5s ease, visibility 0.5s ease; /* Adjust the duration and easing function as needed */
}
.visible {
  opacity: 1;
  visibility: visible;
  z-index: 1;

}
/* #home:hover, #service1:hover, #service2:hover, #service3:hover, #engAbout:hover, #polAbout:hover, #lang:hover, #projects:hover {
  background-color: #555;
} */
#aboutMe {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
.homeLink,
#lang {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  text-decoration: none;
  color: black;
  
/*   padding-left: 10px;
  padding-right: 10px; */
  position: relative;
}
.services {
  position: absolute;
}
.visits {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  text-decoration: none;
  color: black;
  height: 54px;
/*   padding-left: 10px; */
  padding-right: 3px;
  
  
}
#visits {
    position: relative;
    height: 54px;
    width: 150px;
    margin-left: auto;
    background-color: rgb(128, 128, 128);
    white-space: nowrap;
}
#visitEng, #visitPol {
  position: absolute;
}
#pageviews-count {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  text-decoration: none;
  color: black;
  height: 60px;
}

.bg {
  background-color: white;
}
.homeLink:hover,
.services:hover {
  background-color: #555;
}
.services {
  user-select: none;
}
.menu {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  justify-content: space-between;
  text-decoration: none;
  color: black; /* Set the font color to black */
  height: 54px;
  margin: 3px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  
  z-index: 1;
  
}
.filler {
  flex-grow: 1;
}
.submenu {
  position: absolute; 
  top: 3px; 
  left: 3px;
  width: 140px;
  height: 54px;
  
  z-index: -1;
  border-top-left-radius: 20px;
}
.submenu1 {
  position: absolute; 
  top: 3px; 
  left: 100px;
  width: 130px;
  height: 54px;
  
  z-index: -1;
}

.dropdown {
  position: relative;
  background-color: rgb(128,128,128);
   
    z-index: 10;
}

.dropdown .dropdown-content {
  max-height: 0;
  overflow: hidden;
  position: absolute;
  background-color: #333;
  min-width: auto;
  white-space: nowrap;
  z-index: 10;
  top: 100%; /* Position the dropdown-content below the menu item */
  left: 0; /* Align the left edges */
  transition: max-height 0.7s;
  
}

.dropdown-content a {
  display: block;
  padding: 10px;
  color: #fff;
  text-decoration: none;
  width: auto;
}



.code {
  position: absolute;
  left: 0; /* Set the left position (horizontal) */
  top: 60px;
  z-index: -1;
  width: calc(100% - 6px);
  height: calc(100vh - 66px);
  margin-bottom: 3px;
  margin-left: 3px;
  margin-right: 3px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.main {
  height: calc(100vh - 60px);
}
.mainContent {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; /* Adjust this value based on your needs */
  overflow: hidden;  
  box-sizing: border-box;
  padding: 20px;  
}

#homeContent {
  overflow: auto; /* Enable both vertical and horizontal scrolling if needed */
  height: 100%; /* Take up 100% of the parent's height */
  width: 100%;
  background-color: rgba(176,196,222, 0.8);
  border-radius: 10px;
  font-weight: bold;
  position: relative;
  z-index: 0;
}
#eng, #pol, #textEng, #textPol {
  position: absolute;
}

.icon-user, .icon-group, .icon-list-alt {
  margin: 4px;
}
.tables:not(#Ctables) {
  display: flex;
  flex-direction: row;
  
  margin-top: 10px;
  max-width: 45%;
}
#Ctables {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  
}
 

.border {
  background: transparent;
  height: 36px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
  padding: 2px;
  border: solid 3px black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
  width: auto;
  font-size: 17px;
}
.project {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
  height: auto;
}
/* .imageDescription {
  display: flex;
  flex-direction: row;
} */

.imageTables {
  display: flex;
  flex-direction: column;
}
.image {
  
  
  float: left;
}
.projectImg {

  width: auto;
  height: 400px;
/*   width: 672px; Ensure the image doesn't exceed its original size */
  display: block; /* Prevents extra space below inline-block images */
  border: 2px solid white;
  border-radius: 10px;
  position: sticky;
}

.git, .link, .tech {
  position: relative;
 
}
.descriptionEng, .descriptionPol {
  grid-area: 1/1;
  user-select: text;
}
.description {
  display: grid;
} 
.borderContent {
  margin-right: 4px;
}

#displayed-image {
  width: 900px;
  height: auto;
}
/* .projectTitle {
       padding: 10px;
       font-weight: bold;
       font-size: 20px;
       height: auto; /* Allow the height to adjust based on the content */
/*        min-height: 20px; /* Ensure it has a minimum height */ */
/*    } */ */
/* .engTitle, .polTitle {
  position: absolute;
} */
.Eng {
  position: relative;
  
  width: 85px;
  white-space: nowrap;
  min-height: 20px;

}
.Pol {
  position: relative;
  
  width: 70px;
  white-space: nowrap;
  min-height: 20px;

}
.downloadEng, .downloadPol {
  position: absolute;
}
#eng, #pol {
  width:45px;
  height:30px;
}
.aboutLeft {
  width: 20px;
  border-top-left-radius: 20px;
  background-color: rgb(128,128,128);
}
.rightCorner {
  width:20px;
  border-top-right-radius: 20px;
  background-color: rgb(128,128,128);
}
.tooltip-textEng, .tooltip-textPol{
  display: none;
  position: absolute;
  background-color: black;
  color: white;
  padding: 5px;
  border-radius: 5px;
  z-index: 4;
}
#lang {
  background-color: #808080;
}
.menu div {
  margin: 0;
  padding: 0;
}
.menu div {
  gap: 0;
}
.submenu1 {
  width: 250px;
}
.filler {
  flex-grow: 1;
}

.projectTitle {
  height: 20px;
  padding: 10px;
  font-weight: bold;
  display: flex;
  justify-content: center;
}
.longprojectTitle {
  height: 30px;
  padding: 10px;
  font-weight: bold;
  text-align: center;
  display: flex;
  justify-content: center;
}
.longerprojectTitle {
  height: 40px;
  padding: 10px;
  font-weight: bold;
  text-align: center;
  display: flex;
  justify-content: center;
}
.engTitle, .polTitle {
  position: absolute;
}
#lang {
  position: relative;
  width: 45px;
  padding-left: 60px;
  background-color: rgb(128,128,128);
  height: 54px;
}
#textEng {
  text-align: justify;
  overflow-x: hidden;
  
}
.border:not(.not):hover {
  background-color: rgb(65,105,225);
}
.menu .dropdown:hover .dropdown-content {
  max-height: 300px; /* Adjust based on your dropdown size */
/*   overflow: auto; /* Ensure scroll if content exceeds max-height */ */ */
  transition: max-height 0.7s ease;
}
.service:hover {
  background-color: #444;
}
